@font-face {
    font-family: "Ubuntu Light";
    src: url("../assets/fonts/Ubuntu/Ubuntu-Light.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../assets/fonts/Inter/Inter-Bold.ttf");
}

@font-face {
    font-family: "Inter Regular";
    src: url("../assets/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Medium";
    src: url("../assets/fonts/Inter/Inter-Medium.ttf");
}

@font-face {
    font-family: "Quicksand Regular";
    src: url("../assets/fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("../assets/fonts/JetBrains_Mono/JetBrainsMono-Thin.ttf");
}

:root {
    /* colors */
    --pink: #E84275;
    --latte: #FFF3E1;
    --navy: #464D77;
    --blue: #6B9AC4;
    --green: #74A57F;

    /* header */
    --header-padding: 4vw;
    --header-image: 47.5vw;

    /* courses */
    --popup-height: 32.5em;
    --popup-width: 57.5em;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.overflow-hidden {
    overflow-y: hidden;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#header {
    width: 100%;
}

#nav-bar {
    font-size: 2rem;
    display: flex;
    padding: 2em 0em;
}

#logo-cont {
    flex-grow: 1;
    padding-left: var(--header-padding);
    height: 3.6em;
}

#logo {
    height: 3.6em;
    padding-right: 1em;
    float: left;
}

#logo-text {
    font-family: "Jetbrains Mono";
    font-size: 2em;
    margin: 0.3em 0em;
}

#nav-cont {
    flex-grow: 0;
    text-align: right;
    padding-right: 2.5vw;
}

.nav-link {
    font-family: 'Ubuntu Light';
    font-size: 1.45em;
    display: inline-block;
    margin: 0.5em 3.5vw;
    padding: 0.1em 0em;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: var(--pink);
}

.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.07em;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: var(--pink);
    transform: scaleX(0);
    transition: 0.3s ease;
}

.nav-link:hover::before {
    transform: scaleX(1);
    opacity: 1;
}

#nav-small {
    display: none;
    padding: 0.5em 2em;
    z-index: 100;
    position: relative;
    cursor: pointer;
}

#nav-small:hover .nav-line {
    background-color: var(--pink);
}

#nav-button:checked + #nav-small:hover > .nav-line {
    background-color: white;

}

.nav-line {
    background-color: black;
    display: block;
    width: 2.5em;
    height: 0.2em;
    margin: 0.5em 0;
    border-radius: 2em;
    transition: 0.3s ease-in-out;
}

#nav-button {
    display: none;
}

#nav-button:checked + #nav-small > #nav-line-two {
    background-color: transparent;
}

#nav-button:checked + #nav-small > #nav-line-one {
    transform: translateY(0.7em) rotate(135deg);
    transform-origin: center;
    background-color: white;
}

#nav-button:checked + #nav-small > #nav-line-three {
    transform: translateY(-0.7em) rotate(-135deg);
    transform-origin: center;
    background-color: white;
}

#nav-background {
    position: fixed;
    right: 2.5em;
    top: 1.75em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    transform: scale(0);
    background-color: var(--pink);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 5;
}

#nav-button:checked ~ #nav-background {
    transform: scale(45);
}

@keyframes navSmallAppear {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#nav-secondary {
    display: none;
    z-index: 10;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    opacity: 0;
    animation: navSmallAppear 1s ease-out;
    animation-fill-mode: forwards;
}

.nav-secondary-link {
    color: white;
    font-family: "Ubuntu Light";
    font-size: 2.25em;
    display: block;
    margin: 0.6em auto;
    padding-bottom: 0.1em;
    position: relative;
    width: max-content;
}

.nav-secondary-link:visited, .nav-secondary-link:active, .nav-secondary-link:focus {
    color: white;
}

.nav-secondary-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.07em;
    opacity: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: 0.3s ease;
}

.nav-secondary-link:hover::before {
    transform: scaleX(1);
    opacity: 1;
}

.nav-secondary-link:hover {
    color: white;
}

#nav-button:checked ~ #nav-secondary {
    display: initial;
}

#header-main {
    display: flex;
}

#header-text-cont {
    font-size: 2.25rem;
    padding: 2.5em 0em 0em var(--header-padding);
    flex-grow: 1;
}

@keyframes fadeInOne {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInTwo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInThree {
    0% {
        opacity: 0;
    }

    67% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#header-title-1 {
    font-family: "Inter Bold";
    font-size: 4em;
    margin: 0;
    animation: 0.75s ease-in 0s 1 fadeInOne;
}

#header-title-2 {
    font-family: "Inter Medium";
    font-size: 3.5em;
    margin: 0;
    animation: 1.5s ease-in 0s 1 fadeInTwo;
}

#header-text {
    font-family: "Quicksand Regular";
    font-size: 1.5em;
    padding: 1em 0 1em 0.25em;
    margin: 0;
    animation: 2.25s ease-in 0s 1 fadeInThree;
}

#header-button {
    margin-left: 0.25em;
    background-color: transparent;
    border-style: solid;
    border-color: var(--pink);
    padding: 0.5em 0.75em;
    border-width: 0.1em;
    font-family: "Quicksand Regular";
    font-size: 1.25em;
    animation: 3s ease-in 0s 1 fadeInTwo;
    transition: 0.25s ease-in;
    width: max-content;
}

#header-button:hover {
    background-color: var(--pink);
    color: white;
}

#header-img-cont {
    font-size: 2rem;
    text-align: right;
    padding-right: var(--header-padding);
    width: var(--header-image) + var(--header-padding);
    height: calc(var(--header-image) * 0.78);
    flex-grow: 1;
}

#header-graphic {
    width: var(--header-image);
    height: calc(var(--header-image) * 0.78);
}

#about {
    background-color: var(--blue);
    font-size: 3rem;
    text-align: center;
}

#why {
    padding: 2em 3em;
    padding-bottom: 0;
    width: 32.5em;
    margin: 0 auto;
}

.why-title {
    font-family: "Inter Medium";
    font-size: 2.5em;
    color: white;
}

.why-text {
    font-family: "Quicksand Regular";
    color: white;
    font-size: 1.125em;
}

#why-slides {
    display: flex;
    padding: 0 0vw 0 2vw;
}

#why-slides-text-cont {
    margin: auto 0;
    flex-basis: 45vw;
}

#why-slides-collage {
    flex-grow: 2;
    position: relative;
    width: 75em;
    height: 20em;
    flex-basis: 53vw;
}

.why-slides-img {
    width: 16em;
    position: absolute;
    box-shadow: 0.3em 0.3em 0.5em 0.35em rgba(0, 0, 0, 0.5);
}

#why-slides-one {
    top: 27.5%;
    left: 5%;
    z-index: 3;
}

#why-slides-two {
    bottom: 7.5%;
    left: 17.5%;
    z-index: 1;
}

#why-slides-three {
    top: 15%;
    right: 5%;
    z-index: 2;
}

#why-text-cont {
    flex-grow: 1;
}

#why-free {
    padding: 2em 3em;
    padding-top: 0em;
    width: 32.5em;
    margin: 0 auto;
}

#courses {
    background-color: var(--latte);
    font-size: 2rem;
    padding: 2em 2em;
}

#courses-header {
    font-size: 2.4rem;
    width: 45em;
    text-align: center;
    margin: 0 auto;
}

#courses-title {
    font-family: "Inter Medium";
    font-size: 3.5em;
}

#courses-desc {
    font-family: "Quicksand Regular";
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 0.5em;
}

#courses-cont {
    padding: 2em;
    display: flex;
    overflow: auto;
}

.course {
    background-color: white;
    width: 17.5em;
    overflow: hidden;
    transition: 0.1s ease-in-out;
    margin: 1.5em 2em;
    min-width: 17.5em;
}

#course-one
{
    margin-left: auto;
}

#course-two
{
    margin-right: auto;
}

.course:hover {
    transform: scale(115%);
    box-shadow: 0em 0em 1em 0.6em rgba(0, 0, 0, 0.25);
}

.course-img {
    height: 12.5em;  
    margin-left: 50%;
    transform: translateX(-50%);
}

.course-title {
    font-family: "Inter Regular";
    font-size: 1.75em;
    padding: 0 0.5em;
    text-align: center;
    margin: 0.75em 0 0.5em 0;
}

.course-bottom {
    display: flex;
}

.course-bottom-half {
    width: 8.75em;
}

.course-bottom-left {
    padding-left: 0.75em;
    text-align: left;
}

.course-bottom-right {
    padding-right: 0.75em;
    text-align: right;
}

.course-bottom-icon {
    color: var(--pink);
    font-size: 1.1em;
}

.course-bottom-text {
    font-family: "Quicksand Regular";
    font-size: 1.25em;
}

.course-popup {
    display: none;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
}

.course-popup:target {
    display: initial;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.popup-container {
    width: var(--popup-width);
    height: var(--popup-height);
    transform: translateY(calc((100vh - var(--popup-height)) / 2 ));
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

.popup-content {
    width: var(--popup-width);
    height: var(--popup-height);
    position: relative;
    display: flex;
}

.popup-content-int {
    display: flex;
    background-color: white;
    width: var(--popup-width);
    height: var(--popup-height);
    flex-shrink: 0;
    position: relative;
}

.popup-cont-left {
    flex-basis: 50%;
    flex-shrink: 0;
}

.popup-cont-left-one {
    background-color: #64bdfa;
}

.popup-cont-left-two {
    background-color: #DAF6D7;
}

.popup-img {
    height: 50%;
    width: 100%;
    transform: translateY(50%);
}

.popup-cont-right {
    flex-basis: 40%;
    flex-shrink: 0;
    padding: 1.5% 5%;
}

.popup-title {
    font-family: "Inter Bold";
    font-size: 2.25em;
}

.popup-content-two:target {
    display: flex;
}

.popup-navigate-left {
    left: 0.25em;
}

.popup-navigate-right {
    right: 0.25em;
}

.popup-navigate {
    position: absolute;
    font-size: 2.25em;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: color 0.2s ease-in;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.popup-navigate:hover {
    color: var(--pink);
}

.popup-x {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size: 2.25em;
    transition: color 0.2s ease-in;
}

.popup-x:hover {
    color: var(--pink);
}

.popup-button {
    background-color: transparent;
    border-style: solid;
    border-color: var(--pink);
    border-width: 0.1em;
    padding: 0.4em 0.7em;
    font-family: "Quicksand Regular";
    font-size: 1.25em;
    transition: 0.25s ease-in;
    width: max-content;
}

.popup-button:hover {
    background-color: var(--pink);
    color: white;
}

.popup-list {
    font-family: "Quicksand Regular";
    font-size: 1em;
}

.popup-display-none {
    display: none;
}

.popup-list-element {
    margin-top: 0.75em;
}

.popup-link {
    text-decoration: underline;
    transition: 0.2s ease;
}

.popup-link:visited, .popup-link:active, .popup-link:focus {
    text-decoration: underline;
}

.popup-link:hover {
    color: var(--pink);
    text-decoration: underline;
}

#footer {
    background-color: var(--navy);
    padding: 5em;
    font-size: 2rem;
}

#social-buttons-cont {
    display: flex;
    justify-content: center;
}

.social-button {
    border-radius: 50%;
    padding: 0.25em;
    font-size: 2.25em;
    height: 1em;
    width: 1em;
    background-color: transparent;
    border: solid white 0.1em;
    color: white;
    margin: 0 0.75em;
    transition: 0.2s ease-in;
    text-align: center;
}

.social-button:hover {
    background-color: white;
    color: var(--navy);
}

#footer-copyright {
    color: white;
    font-size: 1.25em;
    text-align: center;
    margin-top: 1em;
    font-family: "Quicksand Regular";
}

@media only screen and (min-width: 2900px) and (max-width: 3000px) {
    html {
        font-size: 17px;
    }
}

@media only screen and (min-width: 2800px) and (max-width: 2900px) {
    html {
        font-size: 16.5px;
    }
}

@media only screen and (min-width: 2700px) and (max-width: 2800px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 2600px) and (max-width: 2700px) {
    html {
        font-size: 15.5px;
    }
}

@media only screen and (min-width: 2500px) and (max-width: 2600px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (min-width: 2400px) and (max-width: 2500px) {
    html {
        font-size: 14.5px;
    }
}

@media only screen and (min-width: 2300px) and (max-width: 2400px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 2200px) and (max-width: 2300px) {
    html {
        font-size: 13.5px;
    }
}

@media only screen and (min-width: 2100px) and (max-width: 2200px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 2100px) {
    html {
        font-size: 12.5px;
    }
}

@media only screen and (min-width: 1900px) and (max-width: 2000px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 1900px) {
    html {
        font-size: 11.5px;
    }
}

@media only screen and (min-width: 1700px) and (max-width: 1800px) {
    html {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1700px) {
    html {
        font-size: 10.5px;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1600px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1500px) {
    html {
        font-size: 9.5px;
    }
}

@media only screen and (min-width: 825px) and (max-width: 1400px) {
    .why-slides-img {
        width: 15em;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1400px) {
    html {
        font-size: 9px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    html {
        font-size: 8.5px;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
    html {
        font-size: 7.5px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
    html {
        font-size: 7.5px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
    html {
        font-size: 7px;
    } 
}

@media only screen and (min-width: 825px) and (max-width: 900px) {
    html {
        font-size: 6.5px;
    }
}

@media only screen and (max-width: 950px) {
    :root {
        --header-image: 45vw;
    }

    #nav-bar {
        font-size: 2.25rem;
    }
    
    .nav-link {
        display: none;
    }

    #nav-small {
        display: block;
    }

    #header-text-cont {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 750px) and (max-width: 825px) {
    html {
        font-size: 6px;
    }
}

@media only screen and (min-width: 675px) and (max-width: 750px) {
    html {
        font-size: 5.5px;
    }
}

@media only screen and (max-width: 700px) {
    :root {
        --header-image: 70vw;
        --popup-width: 31em;
        --popup-height: 41em;
    }

    #header-text-cont {
        font-size: 2.75rem;
        text-align: center;
        padding: 1em 2em;
    }

    #header-button {
        margin: 0 auto;
    }

    #header-main {
        flex-wrap: wrap;
        justify-content: center;
    }

    #header-img-cont {
        padding: 0;
        margin-top: 2.5em;
        text-align: center;
    }

    #about {
        font-size: 3.25em;
    }

    #why {
        width: 80vw;
        padding: 1.75em 0 0 0;
    }

    #why-slides {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 2em 0;
    }

    #why-slides-text-cont {
        flex-basis: 80vw;
    }

    #why-slides-collage {
        flex-grow: 0;
        flex-basis: 25em;
        height: 17.5em;
        margin-top: 1em;
    }

    #why-slides-one {
        top: 17.5%;
        left: 5%;
    }
    
    #why-slides-two {
        bottom: 7.5%;
        left: 20%;
    }
    
    #why-slides-three {
        top: 2.5%;
        right: 5%;
    }

    #why-free {
        width: 80vw;
        padding: 0 0 1.75em 0;
    }

    #courses-header {
        width: 80vw;
    }

    .popup-cont-left {
        display: none;
    }

    .popup-cont-right {
        flex-basis: 87.5%;
    }
    
    .popup-title {
        font-size: 2.7em;
    }

    .popup-list-element {
        font-size: 1.3em;
    }

    .popup-list {
        padding-left: 2.75em;
    }

    .social-button {
        height: 1em;
        width: 1em;
        font-size: 2.25em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 675px) {
    html {
        font-size: 5.5px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
    html {
        font-size: 5.5px;
    }
}

@media only screen and (max-width: 550px) {

    #header-text-cont {
        font-size: 2.5rem;
    }

    .why-slides-img {
        width: 14em;
    }

    #why-slides-collage {
        height: 15em;
    }
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
    html {
        font-size: 5px;
    }
}

@media only screen and (max-width: 400px) {
    :root {
        --header-image: 80vw;
    }

    #header-text-cont {
        font-size: 2.2rem;
    }

    #about {
        font-size: 3.1rem;
    }

    #why-slides-collage {
        flex-basis: 22.5em;
    }
}

@media only screen and (min-width: 300px) and (max-width: 350px) {
    html {
        font-size: 4.5px;
    }
}

@media only screen and (max-width: 300px) {
    html {
        font-size: 4px;
    }
}