@font-face {
    font-family: "Ubuntu Light";
    src: url("/assets/fonts/Ubuntu/Ubuntu-Light.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("/assets/fonts/Inter/Inter-Bold.ttf");
}

@font-face {
    font-family: "Inter Regular";
    src: url("/assets/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Medium";
    src: url("/assets/fonts/Inter/Inter-Medium.ttf");
}

@font-face {
    font-family: "Quicksand Regular";
    src: url("/assets/fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-Thin.ttf");
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.overflow-hidden {
    overflow-y: hidden;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#header {
    width: 100%;
}

#nav-bar {
    font-size: 2rem;
    display: flex;
    padding: 2em 0em 2em 0em;
}

#logo-cont {
    flex-grow: 1;
    padding-left: 6%;
    height: 3.6em;
}

#logo {
    height: 3.6em;
    padding-right: 1em;
    float: left;
}

#logo-text {
    font-family: "Jetbrains Mono";
    font-size: 2em;
    margin: 0.3em 0em;
}

#nav-cont {
    flex-grow: 0;
    text-align: right;
    padding-right: 2.5em;
}

.nav-link {
    font-family: 'Ubuntu Light';
    font-size: 1.45em;
    display: inline-block;
    margin: 0.5em 2em;
    padding: 0.1em 0em;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #E84275;
}

.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.07em;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #E84275;
    transform: scaleX(0);
    transition: 0.3s ease;
}

.nav-link:hover::before {
    transform: scaleX(1);
    opacity: 1;
}

#nav-small {
    display: none;
    padding: 0.5em 2em;
    z-index: 100;
    position: relative;
    cursor: pointer;
}

#nav-small:hover .nav-line {
    background-color: #E84275;
}

#nav-button:checked + #nav-small:hover > .nav-line {
    background-color: white;

}

.nav-line {
    background-color: black;
    display: block;
    width: 2.5em;
    height: 0.2em;
    margin: 0.5em 0;
    border-radius: 2em;
    transition: 0.3s ease-in-out;
}

#nav-button {
    display: none;
}

#nav-button:checked + #nav-small > #nav-line-two {
    background-color: transparent;
}

#nav-button:checked + #nav-small > #nav-line-one {
    transform: translateY(0.7em) rotate(135deg);
    transform-origin: center;
    background-color: white;
}

#nav-button:checked + #nav-small > #nav-line-three {
    transform: translateY(-0.7em) rotate(-135deg);
    transform-origin: center;
    background-color: white;
}

#nav-background {
    position: fixed;
    right: 2.75em;
    top: 1.75em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    transform: scale(0);
    background-color: #E84275;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

#nav-button:checked ~ #nav-background {
    transform: scale(40);
    z-index: 5;
}

@keyframes nav-appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#nav-secondary {
    display: none;
    z-index: 10;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    opacity: 0;
    animation: 0.75s ease-in 0s 1 nav-appear;
}

.nav-secondary-link {
    color: white;
    font-family: "Ubuntu Light";
    font-size: 2em;
    display: block;
    margin: 0.6em auto;
    padding-bottom: 0.1em;
    position: relative;
}

.nav-secondary-link:visited {
    color: white;
}

.nav-secondary-link:active {
    color: white;
}

.nav-secondary-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.07em;
    opacity: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: 0.3s ease;
}

.nav-secondary-link:hover::before {
    transform: scaleX(1);
    opacity: 1;
}

.nav-secondary-link:hover {
    color: white;
}

#nav-button:checked ~ #nav-secondary {
    display: initial;
    opacity: 1;
}

#header-main {
    display: flex;
}

#header-text-cont {
    font-size: 2.25rem;
    padding: 2.5em 0em 0em 6%;
    flex-grow: 1;
}

@keyframes fadeInOne {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInTwo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInThree {
    0% {
        opacity: 0;
    }

    67% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#header-title-1 {
    font-family: "Inter Bold";
    font-size: 4em;
    margin: 0;
    animation: 0.75s ease-in 0s 1 fadeInOne;
}

#header-title-2 {
    font-family: "Inter Medium";
    font-size: 3.5em;
    margin: 0;
    animation: 1.5s ease-in 0s 1 fadeInTwo;
}

#header-text {
    font-family: "Quicksand Regular";
    font-size: 1.5em;
    padding-left: 0.25em;
    animation: 2.25s ease-in 0s 1 fadeInThree;
}

#header-button {
    margin-left: 0.25em;
    background-color: transparent;
    border-style: solid;
    border-color: #E84275;
    border-width: 0.1em;
    padding: 0.5em 0.75em;
    font-family: "Quicksand Regular";
    font-size: 1.25em;
    animation: 3s ease-in 0s 1 fadeInTwo;
    transition: 0.25s ease-in;
}

#header-button:hover {
    background-color: #E84275;
    color: white;
}

#header-img-cont {
    font-size: 2rem;
    text-align: right;
    padding-right: 5%;
    height: 27.5em;
    flex-grow: 1;
}

#header-graphic {
    height: 27.5em;
}

#about {
    background-color: #6B9AC4;
    font-size: 3rem;
    text-align: center;
}

#why {
    padding: 2em 3em;
    padding-bottom: 0;
    width: 30em;
    margin: 0 auto;
}

.why-title {
    font-family: "Inter Medium";
    font-size: 2.5em;
    color: white;
}

.why-text {
    font-family: "Quicksand Regular";
    color: white;
}

#why-slides {
    display: flex;
    padding: 0 2em 2em 2em;
}

#why-slides-text-cont {
    margin: auto 0;
}

#why-slides-collage {
    flex-grow: 2;
    position: relative;
    width: 75em;
    height: 20em;
}

.why-slides-img {
    width: 17.5em;
    position: absolute;
    box-shadow: 0.3em 0.3em 0.5em 0.35em rgba(0, 0, 0, 0.5);
}

#why-slides-one {
    top: 27.5%;
    left: 5%;
    z-index: 3;
}

#why-slides-two {
    bottom: 7.5%;
    left: 17.5%;
    z-index: 1;
}

#why-slides-three {
    top: 15%;
    right: 0;
    z-index: 2;
}

#why-text-cont {
    flex-grow: 1;
}

#courses {
    background-color: #FFF3E1;
    font-size: 2rem;
    padding: 2em 2em;
}

#courses-header {
    width: 45em;
    text-align: center;
    margin: 0 auto;
}

#courses-title {
    font-family: "Inter Bold";
    font-size: 3.5em;
}

#courses-desc {
    font-family: "Quicksand Regular";
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 2em;
}

#courses-cont {
    padding: 2em;
    display: flex;
    justify-content: center;
}

.course {
    background-color: white;
    width: 17.5em;
    overflow: hidden;
    transition: 0.1s ease-in-out;
}

.course:hover {
    transform: scale(115%);
    box-shadow: 0em 0em 1em 0.6em rgba(0, 0, 0, 0.25);
}

.course-img {
    height: 12.5em;  
    margin-left: 50%;
    transform: translateX(-50%);
}

.course-title {
    font-family: "Inter Regular";
    font-size: 1.5em;
    padding: 0 0.5em;
    text-align: center;
}

.course-bottom {
    display: flex;
}

.course-bottom-half {
    width: 8.75em;
    padding: 0 1em;
}

.course-bottom-icon {
    color: #E84275;
    font-size: 1.2em;
}

.course-bottom-text {
    font-family: "Quicksand Regular";
    font-size: 1.1em;
}

.course-popup {
    display: none;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
}

#course-one-popup:target {
    display: initial;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.popup-content {
    background-color: white;
    width: 57.5em;
    height: 32.5em;
    transform: translateY(calc((100vh - 32.5em) / 2 ));
    margin: 0 auto;
    display: flex;
    position: relative;
}

.popup-cont-left {
    flex-basis: 50%;
    flex-shrink: 0;
    background-color: #64bdfa;
}

.popup-img {
    height: 50%;
    width: 100%;
    transform: translateY(50%);
}

.popup-cont-right {
    flex-basis: 40%;
    flex-shrink: 0;
    padding: 1.5% 5%;
}

.popup-title {
    font-family: "Inter Bold";
    font-size: 2.25em;
}

.popup-x {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size: 2.25em;
    transition: color 0.2s ease-in;
}

.popup-x:hover {
    color: #E84275;
}

.popup-button {
    background-color: transparent;
    border-style: solid;
    border-color: #E84275;
    border-width: 0.1em;
    padding: 0.4em 0.7em;
    font-family: "Quicksand Regular";
    font-size: 1.1em;
    transition: 0.25s ease-in;
}

.popup-button:hover {
    background-color: #E84275;
    color: white;
}

.popup-list {
    font-family: "Quicksand Regular";
    font-size: 1em;
}

.popup-list-element {
    margin-top: 0.75em;
}

#footer {
    background-color: #464D77;
    padding: 5em;
    font-size: 2rem;
}

#social-buttons-cont {
    display: flex;
    justify-content: center;
}

.social-button {
    border-radius: 50%;
    padding: 0.25em;
    font-size: 2em;
    height: 1.75em;
    width: 1.75em;
    background-color: transparent;
    border: solid white;
    color: white;
    margin: 0 0.75em;
    transition: 0.2s ease-in;
}

.social-button:hover {
    background-color: white;
    color: #464D77;
}

#footer-copyright {
    color: white;
    font-size: 1em;
    text-align: center;
    margin-top: 1em;
    font-family: "Quicksand Regular";
}

@media only screen and (min-width: 2900px) and (max-width: 3000px) {
    html {
        font-size: 17px;
    }
}

@media only screen and (min-width: 2800px) and (max-width: 2900px) {
    html {
        font-size: 16.5px;
    }
}

@media only screen and (min-width: 2700px) and (max-width: 2800px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 2600px) and (max-width: 2700px) {
    html {
        font-size: 15.5px;
    }
}

@media only screen and (min-width: 2500px) and (max-width: 2600px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (min-width: 2400px) and (max-width: 2500px) {
    html {
        font-size: 14.5px;
    }
}

@media only screen and (min-width: 2300px) and (max-width: 2400px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 2200px) and (max-width: 2300px) {
    html {
        font-size: 13.5px;
    }
}

@media only screen and (min-width: 2100px) and (max-width: 2200px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 2100px) {
    html {
        font-size: 12.5px;
    }
}

@media only screen and (min-width: 1900px) and (max-width: 2000px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 1900px) {
    html {
        font-size: 11.5px;
    }
}

@media only screen and (min-width: 1700px) and (max-width: 1800px) {
    html {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1700px) {
    html {
        font-size: 10.5px;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1600px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1500px) {
    html {
        font-size: 9.5px;
    }

    /*Header*/
    #header-text-cont {
        padding-left: 5%;
    }

    #logo-cont {
        padding-left: 5%;
    }

    #header-img-cont {
        padding-right: 4%;
    }

    #nav-cont {
        padding-right: 2.4em;
    }

    .nav-link {
        margin: 0.5em 1.85em;
    }

}

@media only screen and (min-width: 1300px) and (max-width: 1400px) {
    html {
        font-size: 9px;
    }

        /*Header*/
        #header-text-cont {
            padding-left: 5%;
        }
    
        #logo-cont {
            padding-left: 5%;
        }

        #header-img-cont {
            padding-right: 4%;
        }

        #nav-cont {
            padding-right: 2.25em;
        }

        .nav-link {
            margin: 0.5em 1.75em;
        }

        /* Why Us */

        .why-slides-img {
            width: 15em;
        }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    html {
        font-size: 8.5px;
    }

        /*Header*/
        #header-text-cont {
            padding-left: 5%;
        }
    
        #logo-cont {
            padding-left: 5%;
        }

        #header-img-cont {
            padding-right: 4%;
        }

        #nav-cont {
            padding-right: 2.1em;
        }

        .nav-link {
            margin: 0.5em 1.6em;
        }

        /* Why Us */

        .why-slides-img {
            width: 15em;
        }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    html {
        font-size: 8px;
    }

        /*Header*/
        #header-text-cont {
            padding-left: 4.5%;
            font-size: 2.15rem;
        }
    
        #logo-cont {
            padding-left: 4.5%;
        }

        #header-img-cont {
            padding-right: 3.5%;
            height: 26.5em;
        }

        #header-graphic {
            height: 26.5em;
        }
        
        #nav-cont {
            padding-right: 2em;
        }

        .nav-link {
            margin: 0.5em 1.5em;
        }

        /* Why Us */

        .why-slides-img {
            width: 15em;
        }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
    html {
        font-size: 7.5px;
    }

        /*Header*/
        #header-text-cont {
            padding-left: 4.5%;
            font-size: 2.1rem;
        }

        #logo-cont {
            padding-left: 4.5%;
        }

        #header-img-cont {
            padding-right: 3.5%;
            height: 26em;
        }

        #header-graphic {
            height: 26em;
        }
        
        #nav-cont {
            padding-right: 2em;
        }

        .nav-link {
            margin: 0.5em 1.5em;
        }

        /* Why Us */

        .why-slides-img {
            width: 15em;
        }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
    html {
        font-size: 7.5px;
    }

        /*Header*/
        #header-text-cont {
            padding-left: 4.5%;
            font-size: 2.1rem;
        }
        
        #logo-cont {
            padding-left: 4.5%;
        }

        #header-img-cont {
            padding-right: 3.5%;
            height: 26em;
        }

        #header-graphic {
            height: 26em;
        }
        
        #nav-cont {
            padding-right: 1.85em;
        }

        .nav-link {
            margin: 0.5em 1.45em;
        }

        /* Why Us */
        
        #why-slides {
            padding: 0 1.5em 2em 1.5em;
        }

        .why-slides-img {
            width: 15em;
        }
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
    html {
        font-size: 7px;
    }

        /*Header*/
        #header-text-cont {
            padding-left: 4%;
            font-size: 2.1rem;
        }
        
        #logo-cont {
            padding-left: 4%;
        }

        #header-img-cont {
            padding-right: 3%;
            height: 25em;
        }

        #header-graphic {
            height: 25em;
        }
        
        #nav-cont {
            padding-right: 1.75em;
        }

        .nav-link {
            margin: 0.5em 1.35em;
        }

        /* Why Us */
        
        #why-slides {
            padding: 0 1.5em 2em 1.5em;
        }

        .why-slides-img {
            width: 15em;
        }
}

@media only screen and (min-width: 825px) and (max-width: 900px) {
    html {
        font-size: 6.5px;
    }

        /*Header*/
        #header-text-cont {
            padding-left: 3.5%;
            font-size: 2.05rem;
        }
        
        #logo-cont {
            padding-left: 3.5%;
        }

        #header-img-cont {
            padding-right: 3%;
            height: 23.5em;
        }

        #header-graphic {
            height: 23.5em;
        }
        
        #nav-cont {
            padding-right: 1.5em;
        }

        .nav-link {
            margin: 0.5em 1.25em;
        }

        /* Why Us */
        
        #why-slides {
            padding: 0 1.5em 2em 1.5em;
        }

        .why-slides-img {
            width: 15em;
        }
}

@media only screen and (min-width: 750px) and (max-width: 825px) {

    html {
        font-size: 6px;
    }

    #header-text-cont {
        padding-left: 3.5%;
        font-size: 2.05rem;
    }
    
    #logo-cont {
        padding-left: 3.5%;
    }

    #header-img-cont {
        padding-right: 3%;
        height: 23em;
    }

    #header-graphic {
        height: 23em;
    }
    
    #nav-cont {
        padding-right: 1.5em;
    }

    .nav-link {
        display: none;
    }

    #nav-small {
        display: block;
    }

    /* Why Us */
        
    #why-slides {
        padding: 0 1.5em 2em 1.5em;
    }

    .why-slides-img {
        width: 14em;
    }
}

@media only screen and (min-width: 675px) and (max-width: 750px) {

    html {
        font-size: 5.5px;
    }

    #header-text-cont {
        padding-left: 3.5%;
        font-size: 2.05rem;
    }
    
    #logo-cont {
        padding-left: 3.5%;
    }

    #header-img-cont {
        padding-right: 3%;
        height: 22em;
    }

    #header-graphic {
        height: 22em;
    }
    
    #nav-cont {
        padding-right: 1.5em;
    }

    .nav-link {
        display: none;
    }

    #nav-small {
        display: block;
    }

    /* Why Us */
        
    #why-slides {
        padding: 0 1.5em 2em 1.5em;
    }

    .why-slides-img {
        width: 14em;
    }

    /* Footer */

    .social-button {
        height: 2em;
        width: 2em;
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 675px) {

    html {
        font-size: 5.5px;
    }

    #header-text-cont {
        padding-left: 3%;
        font-size: 1.9rem;
    }
    
    #logo-cont {
        padding-left: 3%;
    }

    #header-img-cont {
        padding-right: 3%;
        height: 20em;
    }

    #header-graphic {
        height: 20em;
    }
    
    #nav-cont {
        padding-right: 1.5em;
    }

    .nav-link {
        display: none;
    }

    #nav-small {
        display: block;
    }

    /* Why Us */

    #why-slides {
        padding: 0 1.5em 2em 1.5em;
        flex-wrap: wrap;
        justify-content: center;
    }

    #why-slides-collage {
        flex-grow: 0;
        width: 25em;
        height: 17.5em;
    }

    .why-slides-img {
        width: 15em;
    }

    #why-slides-one {
        top: 22.5%;
        left: 5%;
    }
    
    #why-slides-two {
        bottom: 5%;
        left: 17.5%;
    }
    
    #why-slides-three {
        top: 5%;
        right: 5%;
    }

    /* Courses */

    .popup-content {
        width: 51.75em;
        height: 29.25em;
        transform: translateY(calc((100vh - 29.25em) / 2 ));
    }

    .popup-title {
        font-size: 2em;
    }

    .popup-list-element {
        font-size: 0.9em;
    }

    /* Footer */

    .social-button {
        height: 2em;
        width: 2em;
        font-size: 2.5em;
    }

}

@media only screen and (min-width: 450px) and (max-width: 600px) {

    html {
        font-size: 5.5px;
    }

    #header-text-cont {
        font-size: 2.25rem;
        text-align: center;
        padding: 0;
    }
    
    #logo-cont {
        padding-left: 5%;
    }

    #header-main {
        flex-wrap: wrap;
        justify-content: center;
    }

    #header-img-cont {
        padding: 0;
        margin-top: 2.5em;
        height: 22.5em;
        text-align: center;
    }

    #header-graphic {
        height: 22.5em;
    }
    
    #nav-cont {
        padding-right: 1.5em;
    }

    .nav-link {
        display: none;
    }

    #nav-small {
        display: block;
    }

    /* Why Us */

    #why {
        width: 90%;
        padding: 2em 0 5%;
    }

    #why-slides {
        padding: 0 1.5em 2em 1.5em;
        flex-wrap: wrap;
        justify-content: center;
    }

    #why-slides-collage {
        flex-grow: 0;
        width: 25em;
        height: 17.5em;
    }

    .why-slides-img {
        width: 15em;
    }

    #why-slides-one {
        top: 22.5%;
        left: 5%;
    }
    
    #why-slides-two {
        bottom: 5%;
        left: 17.5%;
    }
    
    #why-slides-three {
        top: 5%;
        right: 5%;
    }

    /* Courses */
    
    #courses-header {
        width: 90%;
    }

    .popup-cont-left {
        display: none;
    }

    .popup-content {
        width: 31em;
        height: 34em;
        transform: translateY(calc((100vh - 34em) / 2 ));
    }

    .popup-cont-right {
        flex-basis: 87.5%;
    }

    .popup-title {
        font-size: 2.25em;
    }

    .popup-list-element {
        font-size: 1.15em;
    }

    /* Footer */

    .social-button {
        height: 2em;
        width: 2em;
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 350px) and (max-width: 450px) {

    html {
        font-size: 5px;
    }

    #header-text-cont {
        font-size: 2.15rem;
        text-align: center;
        padding: 0;
    }
    
    #logo-cont {
        padding-left: 5%;
    }

    #header-main {
        flex-wrap: wrap;
        justify-content: center;
    }

    #header-img-cont {
        padding: 0;
        margin-top: 2.5em;
        height: 22.5em;
        text-align: center;
    }

    #header-graphic {
        height: 22.5em;
    }
    
    #nav-cont {
        padding-right: 1.5em;
    }

    .nav-link {
        display: none;
    }

    #nav-small {
        display: block;
    }

    /* Why Us */

    #why {
        width: 90%;
        padding: 2em 0 5%;
    }

    #why-slides {
        padding: 0 1.5em 2em 1.5em;
        flex-wrap: wrap;
        justify-content: center;
    }

    #why-slides-collage {
        flex-grow: 0;
        width: 22.5em;
        height: 15em;
    }

    .why-slides-img {
        width: 12.5em;
    }

    #why-slides-one {
        top: 22.5%;
        left: 5%;
    }
    
    #why-slides-two {
        bottom: 5%;
        left: 17.5%;
    }
    
    #why-slides-three {
        top: 5%;
        right: 5%;
    }

    /* Courses */

    #courses-header {
        width: 90%;
    }

    .popup-cont-left {
        display: none;
    }

    .popup-content {
        width: 31em;
        height: 34em;
        transform: translateY(calc((100vh - 34em) / 2 ));
    }

    .popup-cont-right {
        flex-basis: 87.5%;
    }

    .popup-title {
        font-size: 2.25em;
    }

    .popup-list-element {
        font-size: 1.15em;
    }

    /* Footer */

    .social-button {
        height: 1.75em;
        width: 1.75em;
        font-size: 2.25em;
    }
}

@media only screen and (max-width: 350px) {

    html {
        font-size: 4px;
    }

    #header-text-cont {
        font-size: 2.15rem;
        text-align: center;
        padding: 0;
    }
    
    #logo-cont {
        padding-left: 5%;
    }

    #header-main {
        flex-wrap: wrap;
        justify-content: center;
    }

    #header-img-cont {
        padding: 0;
        margin-top: 2.5em;
        height: 25em;
        text-align: center;
    }

    #header-graphic {
        height: 25em;
    }
    
    #nav-cont {
        padding-right: 1.5em;
    }

    .nav-link {
        display: none;
    }

    #nav-small {
        display: block;
    }
    
    /* Why Us */

    #why {
        width: 85%;
        padding: 2em 0 7.5%;
    }
    
    #why-slides {
        padding: 0 1.5em 2em 1.5em;
        flex-wrap: wrap;
        justify-content: center;
    }

    #why-slides-collage {
        flex-grow: 0;
        width: 22.5em;
        height: 15em;
    }

    .why-slides-img {
        width: 12.5em;
    }

    #why-slides-one {
        top: 22.5%;
        left: 5%;
    }
    
    #why-slides-two {
        bottom: 5%;
        left: 17.5%;
    }
    
    #why-slides-three {
        top: 5%;
        right: 5%;
    }

    /* Courses */
    
    #courses-header {
        width: 90%;
    }

    .popup-cont-left {
        display: none;
    }

    .popup-content {
        width: 31em;
        height: 38em;
        transform: translateY(calc((100vh - 38em) / 2 ));
    }

    .popup-cont-right {
        flex-basis: 87.5%;
    }

    .popup-title {
        font-size: 2.2em;
    }

    .popup-list-element {
        font-size: 1.25em;
    }

    /* Footer */

    .social-button {
        height: 1.75em;
        width: 1.75em;
        font-size: 2.25em;
    }
}