.card {
  width: 16em;
  height: 25em;
  background-color: white;
  box-shadow: black 0 0 10px -2px;
  border-radius: 8px;
  overflow: clip;

  &:hover {
    .summary {
      display: none
    }

    .bio {
      width: 100%
    }
  }
}

.summary {
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;

  img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
  }

  h1 {
    font-family: "Inter Bold", sans-serif;
    margin-top: 1em;
    margin-bottom: 0.25em;
    font-size: 1.8em
  }

  h2 {
    font-family: "Inter Regular", sans-serif;
    margin: 0.5em 0;
    font-size: 1.2em
  }


}

.bio {
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

  &-inner {
    h1 {
      font-family: "inter bold", sans-serif;
      margin: 0;
      padding: 0.8em 0 0 0;
      font-size: 1.6em
    }

    font-family: "inter regular", sans-serif;

    p {
      hyphens: auto;
      word-break: break-word;
      padding: 1em;
      line-height: 1.25;
      margin: 0;

    }
  }
}
